.square {
	/* width: 90px;
	height: 90px; */
	border: 1px solid;
	/* position: relative; */
}

 #board-2d-container.size-5 #board-2d {
	width: 100%;
}
#board-2d-container.size-5 #x-axis {
	width: calc(74.07407% - 1.11111em);
}
#board-2d-container.size-5 #unplayed-2d {
	width: 100%;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
} */
 
.square.black {
  background-color: #000;
}
.square.white {
  background-color: #fff;
}
#board-2d-container {
  display: grid;
  grid-template-rows: auto 1fr auto;  /* For y-axis and board and x-axis */
  width: 60vw;
}

#row-2d {
  display: grid;
  grid-template-columns: 1em minmax(auto, 3fr) 1fr; /* For y-axis numbers, board squares, and unplayed area */
  max-width: 1200px;
}

#squares-2d {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	aspect-ratio: 1/1;
}

#y-axis {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	margin-right: 8px;
}

#x-axis {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 1em; /* To align with board squares accounting for y-axis */
  text-align: center;
}

#unplayed-2d {
	border: 1px solid #fff;
}

/* To ensure squares maintain aspect ratio */
.square {
  aspect-ratio: 1/1;
  width: 100%;
}